<!DOCTYPE html>
<html>
<head>
    <title>Dice</title>
</head>
<body>
    <p>Select number of sides on the dice:</p>
    <form id="sides_form" action="/roll" method="POST" enctype="multipart/form-data">
        <select id="sides_select" name="sides">
            {% for o in option_list %}
                {% if o == sides %}
                    <option SELECTED name="{{ o }}">{{ o }}</option>
                {% else %}
                    <option name="{{ o }}">{{ o }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Roll!">
    </form>
    <div id="result">
        {%if sides is defined %}
            {%if roll is defined %}
                <p>You rolled a {{ roll }} on a {{ sides }} sided dice</p>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
